@charset "UTF-8";

html {
    font-size: 16px;
}
html, body {
    height: 100%;
}
body {
    margin: 0 auto;
    font-family: 'M PLUS 1p', sans-serif;
    font-weight: 400;
    background-color: #fff;
    color: #000;
}
.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 16px;
}
@media (min-width: 768px) {
    .container {
        max-width: 1000px;
        margin: 0 auto;
        padding: 30px;
    }
}
header {
    background-color: #ff863b;   
}
header .container {
    min-height: 60px;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 76px;
    background-size: 53px;
    background-position: 16px 10px;
}
@media (min-width: 768px) {
    header .container {
        min-height: 100px;
        padding-left: 120px;
        background-size: 80px;
        background-position: 30px 20px;
    }
}
header .container h1,
header .container h2 {
    margin: 0 auto;
    color: #fff;
    line-height: 5px
}
header .container h1 {
    padding: 15px 0 4px 0;
    font-size: 16px;
    font-weight: 500;
}
header .container h2 {
    padding: 5px 0 0 0;
    font-size: 10px;
    font-weight: 400;
}
@media (min-width: 768px) {
    header .container h1 {
        padding: 30px 0 5px 0;
        font-size: 24px;
    }
    header .container h2 {
        padding: 6px 0 0 0;
        font-size: 14px;
    }
}
main {
    min-height: calc(100% - 156px);
}
main .container {
    margin: 0 auto;
    background-color: #fff;
}
footer {
    background-color: #ff863b;
}

.main_content{
    margin: 5px 5px 5px 5px;
    width: 100%;
    padding: 10px;
}

#nearby_spots_title{
    display: inline-block;
    border-bottom: solid 2px  #ff863b;
   width: 0 auto;

}
#nearby_spots_name {
    position: absolute;
  /*     position: absolute;これを使うとレイヤーが一つ上になる*/
    z-index: 5;
      /*boxの中で一番上に来ている*/
    top: 10%;
    left: 25%;
    padding: 5px 30px 5px 30px;
    background-color: #ff863b;
    color: white;
  }
  .nearby_spots{
    position: relative;
    z-index: 1;
    width: 100%;
    background-color: antiquewhite;
    padding: 10px;
    /* margin-left: calc(50% -50vw); */
    /* margin: 85px auto 800px;
      //画面スクロールのために、下マージンを大きく取っています */
  }
  .NBphoto_picup_sub{
    display:inline;
    margin: 5px;
    width: 30%;
    height: 25%;
}
#NBphoto_picup{
    margin: 5px;
    width: 35%;
    height: 50%;
}
.nearby_spots_photo{
    margin: 5px;
    width: 30%;
    height: 30%;
}



.flex{
    padding: 2.5% 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
    justify-content: space-around;
  }

  #aaa{
    flex-wrap: nowrap;
  }
  .flex > *{
    min-width: 8%;
  background: #fff;
  font-size: 64px;
  text-align: center;
  }

